.footer {
    background-color: #245852;
}

.footer-contanier {
    padding: 95px 15px;
    max-width: 1369px;
    margin: 0 auto;

}

.footer-nav-list__item:first-child {
    font-size: 40px;
    font-weight: bold;
}

.footer-nav-list__item {
    margin-bottom: 67px;
    font-size: 25px
}

.footer-nav-list__item a{
    color: #fff;
}

.footer-nav-list__item:last-child {
    margin-bottom: 0px;
}

@media (max-width: 768px) {

    .footer-nav-list__item:first-child {
        font-size: 25px;
        font-weight: bold;
    }

    .footer-nav-list__item {
        margin-bottom: 40px;
        font-size: 15px
    }
}